<!DOCTYPE html>
<html ng-app="app">
<head>


	<title></title>
</head>

<body ng-controller="myctrl">
  <h1 class="h">CHANNELS</h1>
  <div class="form-group">
  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-3">
      <input type="text" placeholder="Enter " class="sea"  ng-model="get_e" required>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3">
      <input type="text" placeholder="Enter Location" class="sea"   ng-model="get_loc">
      </div>
  </div>
</div>
<div class="row" style="margin-top: 80px;">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-2">
    <button class="button"  ng-click='updatechannels("makemytrip")'>Makemytrip</button>
  </div>
  <div class="col-sm-2">
        <button class="button"  ng-click='updatechannels("tripadvisor") '>Tripadvisor</button>
  </div>
  <div class="col-sm-2">
     <button class="button"  ng-click='updatechannels("zomato")'>Zomato</button>
  </div>
</div>
<div class="row" style="margin-top: 40px;">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-2">
    <button class="button"  ng-click='updatechannels("expedia") '>Expedia</button>
  </div>
  <div class="col-sm-2">
        <button class="button"  ng-click='updatechannels("booking")'>BooKing.com</button>
  </div>
  <div class="col-sm-2">
     <button  class="button" ng-click=' updatechannels("holidayiq")'>Holidayiq</button>
  </div>
</div>
<a href="#channels_data"><center><button class="btn btn-danger" style="margin-top: 40px; margin-right: 80px; width: 200px;font-size: 20px;" ng-click="getdata()">search</button> </center></a><br>



</body>
</html>
